@import "tailwindcss";
@import "@fontsource/roboto-condensed/400.css";
/* Regular */
@import "@fontsource/roboto-condensed/500.css";
@import "@fontsource/alan-sans/500.css";
@import "@fontsource/alan-sans/700.css";

:root {
  --font-alsans: "Alan Sans", sans-serif;
  --font-roboto: "Roboto Condensed", sans-serif;
}

@theme inline {
  /* Backgrounds */
  --color-background: #f8f9fa;
  /* Light Gray for contrast */
  --color-surface: #ffffff;
  /* White cards */
  --color-accent-surface: #fff0f1;
  /* Light red tint */

  /* Text / Foreground */
  --color-foreground: #1d3557;
  /* Dark Blue for text */
  --color-text-secondary: #457b9d;
  /* Steel Blue */
  --color-text-muted: #a8dadc;
  /* Light Blue */
  --color-primary-foreground: #ffffff;

  /* Primary & Secondary / Actions */
  --color-primary: #e63946;
  /* Vibrant Red */
  --color-primary-hover: #d62828;
  --color-secondary: #457b9d;
  /* Steel Blue */
  --color-secondary-hover: #1d3557;

  /* Success / Info / Feedback */
  --color-success: #2a9d8f;
  /* Teal */
  --color-info: #e9c46a;
  /* Yellow */
  --color-warning: #f4a261;
  /* Orange */

  /* Borders / Dividers */
  --color-border: #e1e4e8;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-alsans);
  --font-mono: var(--font-roboto);
}

body {
  font-family: var(--font-alsans);
  background-color: var(--color-background);
  color: var(--color-foreground);
}